.App {
  max-width: 600px;
  margin: 30px auto;
  color: gray;
}

.App footer {
  font-size: 12px;
  margin: 30px;
}

footer {
  color: #212121;
}

footer a {
  color: #57d2f2;
  text-decoration: none;
  font-weight: bold;
}